.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.calc-dilplay {
  width: 100%;
  height: 80px;
  background-color: #0e0000;
}

.calc-panel div:first-child .calc-btn {
  height: 40px;
}

.calc-btn {
  width: 80px;
  height: 65px;
  box-sizing: border-box;
}

[name='='] {
  width: 160px;
}

.calc-dilplay {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  color: red;
}